/* reglas
selectores
declaraciones
propiedades
valores */


/* seletor de etiqueta  header - section - article - nav */
/* header {
  background: pink;
  color: red
} */

/* selector descendente  */
/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */
/* #portafolio */



/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tclj80');
  src:  url('../fonts/icomoon.eot?tclj80#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tclj80') format('truetype'),
    url('../fonts/icomoon.woff?tclj80') format('woff'),
    url('../fonts/icomoon.svg?tclj80#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}



body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.burguer-button{
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(27, 33, 39, .8);;
  display: block;
  line-height: 40px;
  text-align: center;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 4;
}

.hero {
  height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-image{
  object-fit: cover;
}


.portfolio {
  background: #fafafa;
  padding: 20px;
  /* background: red; */
}





.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}
/* .project-date {
  margin: 10px 0;
} */

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}


.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
  text-align: center;
}

.project-image{
  max-width: 100%
}

.header {
  background-color: #1d252c;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;

  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 6px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* Para hacer los MQ desktop first, empezamos desde el MQ mayor */

@media screen and (max-width: 1024px) {
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2.5em;
  }

  .hero-image{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%
  }

  h1{
    font-size: 1.7em;
    z-index: 2;
    text-shadow: 1px 2px 2px #000;
  }


}

.youtube-video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flexible-video{
  width: 100%;
  height: 0;
  padding-top:56.25%;
  background-color: blue;
  position: relative;
}
@media screen and (max-width: 767px) {

  h1{
    font-size: 1.5em;
  }
  .header{
    display: block;
    height: auto;
  }
  .header ol{
    flex-direction: column;
    align-items: center;
    height: auto;
    /* display: none; */
  }

  .menu{
    position: fixed;
    background-color: rgba(5, 111, 255, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: .3s;
  }

  .menu.is-active{
    left: 0;
  }


  .header ol li{
    padding: 10px 0;
    height: initial
  }
  .header ol li:nth-child(3n+0){
    margin-bottom: 10px;
  }

  .logo{
    text-align: center;
    padding-top: 15px
  }
  .project{
    display: block;
  }
  .project-details{
    width: auto;
    font-size: 16px
  }
  .project-title{
    font-size: 1.7em;
  }
  .project-url{
    font-size: 1.1em;
  }
  .project-course{
    font-size: 1.1em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: 1em;
  }
  .project-imageContainer{
    width: auto
  }

  .event-list{
    display: block;
  }

  .event{
    width: auto;
    flex-shrink:initial;
    margin: 25px;
  }

  .event-details{
    font-size: 16px;
  }

  .event img{
    object-position: top;
  }

  .footer {
    padding: 0 1em;
  }

}

@media screen and (min-width: 768px) {

  .burguer-button{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact{
    height: auto;
    padding: 1em 0;
    display: block;
    text-align: center;
  }

  .form-email button {
    margin: 1em auto;
  }

  .footer{
    display: block;
    text-align: center;
    padding: 1px
  }

}


@media screen and (max-width: 320px) {
  .project-details{
    width: auto;
    font-size: 13px
  }
}
